<div class="tdl-component">
    <div *ngIf="todos">
        <table mat-table [dataSource]="todos" class="mat-elevation-z8">
            <ng-container matColumnDef="task">
                <th class="header" mat-header-cell *matHeaderCellDef>Task Name</th>
                <td mat-cell *matCellDef="let element">{{ element.todo }}</td>
            </ng-container>
            <ng-container matColumnDef="desc">
                <th class="header" mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{ element.todoDesc }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">Status</th>
                <td mat-cell *matCellDef="let element">{{ element.status ? "Done" : "Pending"}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><span (click)="edit(element.id)"><mat-icon fontIcon="edit"></mat-icon></span></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><span (click)="delete(element.id)"><mat-icon fontIcon="delete"></mat-icon></span></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>