<div class="edit-form center" *ngIf="todo">
    <h2>Edit Task</h2>
    <form class="form">
      <div>
        <label for="todo">Task Name:</label>
        <input type="text" id="todo" [(ngModel)]="todo.todo" name="todo">
      </div>
      <div>
        <label for="todoDesc">Task Description:</label>
        <input type="text" id="todoDesc" [(ngModel)]="todo.todoDesc" name="todoDesc">
      </div>
      <div>
        <label for="status">Task completed?:</label>
        <input type="checkbox" id="status" [(ngModel)]="todo.status" name="status">
      </div>
      <button (click)="onSubmit()" type="submit">Update</button>
    </form>
  </div>